
body {
  text-align: center;
}

h1 {
  font-size: 72px;
  color: white;
}

header {
  background-color: orange;
}

p {
  font-size: 20px;
}

/* Media Queries --------------- */

@media all (max-width: 960px) {
  body {
    background: blue;
  }

}

@media (max-width: 480px) {
  body {
    background: darkred;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  body {
    background: seagreen;
  }
  p {
    color: white;
  }
}
