body {
    margin-top: 50px;
    padding: 0;
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    width: 100%;
}

a {
  color: #F3A20B;
  font-weight: bold;
}

.legend header {
  color: #F3A20B;
}

.form-control {
  width: 100%;
}

.form-horizontal {
  background-color: #555555;
}

.well {
  background-color: #cccccc;
}

#fname.form-control {
  background-color: #cccccc;
}

#lname.form-control {
  background-color: #cccccc;
}

#email.form-control {
  background-color: #cccccc;
}

#phone.form-control {
  background-color: #cccccc;
}

.btn {
  font-family: 'Catamaran', sans-serif, lightgray;
}

#riley {
    margin-top: 50px;
    background: url(../img/riley_fullsize.jpg) no-repeat;
    background-size: 100% auto;
    background-position: top;
    padding-bottom: 75%;
}

#riley h1 {
    text-align: center;
    padding: 25px;
}
